<p>Dear customer,</p>
<p>You recently requested to request your password for your <a href="http://zippygigs.com">Zippy Gigs</a> account.</p>
<p>Click the link below to reset it:</p>
<a href="{{ recover_url }}">RESET PASSWORD</a>
<p>If you did not request a password request, please ignore this email or reply to let us know.</p>
<p>The password reset is only valid for the next 30 minutes.</p>
<p>Thanks,</p>
<p>Zippy Gigs</p>